
.input-div {
    width : 130px;
    margin: 0 5px 0 5px;
}

.date-picker {
    width: 170px;
    margin: 0 4px 0 4px;
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .fliter-content {
      padding: 1rem;
      box-shadow: 30px -8px rgb(231, 231, 250);
      border: 1px solid;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      background: white;
  }