
.dashboard-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.dashboard-header {
    width: 90%;
    height: auto;
    display: flex;
    padding: 1rem;
    margin-bottom: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header{
    color: rgb(63, 81, 181);
    font-size:larger;
    font-weight: 200;
    font-size: 32px;
   
}

.dashboard-content {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    justify-content: space-between;
    
}

.dashboard-col {
    width: 49%;
    display: flex;
    flex-direction: column;
    
}