<div class="dashboard-main">
    <div class="dashboard-header">
        <div class="header">Hi, Srinath. Welcome to the dashboard</div>
    </div>
    <mat-divider></mat-divider>
    <div class="dashboard-content">
        <div class="dashboard-col">
            <app-filter-options
            (onSearchEmit) = "handleSearch($event)"
            (onLiveModeEmit) = "handleLiveMode($event)"
            (onDefaultModeEmit)="handleDefaultMode($event)"
            >
        </app-filter-options>
            <app-table-view
            [sensorData]="temperatureSensorData"
            [liveMode]="getLiveMode()"
            ></app-table-view>
        </div>
        <div class="dashboard-col">
            <app-plot-view></app-plot-view>
        </div>
    </div>
</div>